:root {
    background: rgb(10, 10, 10);
    background-size: cover;
    
}



.animated-bg {
    background: linear-gradient(300deg,black, rgb(43, 43, 43));
    background-size: 400% 400%;
    animation: animated 18s ease infinite;
    object-fit: cover;
}

@keyframes animated {
    0%, 100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 50%;
    }
}


.style {
    list-style: none;
}

.center-text {
    text-align: center;
}

p, h3, h2, h1 {
    color: white;
}

p {
    font-size: 1rem;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
}

.inner-box, .main-menu-box {
    padding-bottom: 20px;
    margin-right: 50px;
    text-align: center;
}

.images {
    object-fit: cover;
    width: fit-content;
    height: 200px;
}

a {
    color: rgb(255, 0, 191);
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px;
    padding-bottom: 20px;
}

.inner-box > li, .main-menu-box > li {
    padding-bottom: 10px;
}

img {
    border: 3px solid white;
    border-radius: 40px;
    box-shadow: 0px 0px 10px white;
}

table {
    color: white;
    background-color: rgb(68, 68, 68);
    font-size: 1rem;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(27, 27, 27);
    border-collapse: collapse;
    border: 2px solid white;
}

th[scope=col] {
    background-color: rgb(35, 36, 37);
    text-shadow: 0px 0px 10px;
    text-transform: uppercase;
}

th[scope=row], td {
    background-color: rgb(14, 11, 11);
    padding: 10px 20px;
    border: 1px solid white;
}

td {
    text-align: right;
}

ol {
    list-style-type: upper-alpha;
    color: white;
}

a img {
    box-shadow: none;
    border: none;
    padding-top: 30px;
    padding-right: 10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

div > img {
    max-width: 100%;
    height: auto;
}

.container-nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family: 'Helvetica Neue', sans-serif;
}

h1 a {
    font-size: 80px;
    color: #BF2E97;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    transition: 200ms cubic-bezier(0.2, 0.2, 1, 1);
}

.popover {
    display: none;
    box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
}

.popover:target {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0;
    height: 0;
    color: #fff;
    background-color: #191919;
    animation: 1s grow ease forwards;
    text-align: center;
}

.nav_list {
    list-style-type: none;
}

.nav_list a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
}

.nav_list_item {
    height: 100%;
}

.nav_list li {
    padding: 15px 0;
    text-transform: uppercase;
    transform: translateY(200px);
    opacity: 0;
    animation: 2s slideUp ease forwards 0.5s;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: #BF2E97;
    transition: all 0.5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
    padding: 50px;
    opacity: 0;
    animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #BF2E97;
    color: #fff;
    content: "×";
    cursor: pointer;
    opacity: 0;
    animation: 1s fadeIn ease forwards 0.5s;
    transition: 100ms cubic-bezier(0.2, 0.2, 1, 1);
}

@keyframes grow {
    100% {
        height: 90%;
        width: 90%;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 a:hover {
    font-size: 100px;
    opacity: 0.7;
}

.content .close:hover {
    right: 0;
    top: 0;
    width: 50px;
    transform: translateY(-5px);
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #BF2E97;
    color: #fff;
    content: "×";
    cursor: pointer;
    transition: 100ms cubic-bezier(0.2, 0.2, 1, 1);
}

.presentation-text {
    position: absolute;
    top: 10%;
    margin: auto;
    text-align: center;

}

.logo {
    position: absolute;
    bottom: 10%;
    width: 300px;
    border: none;
    background-color: white;
    padding: 10px;
    z-index: -1;
}

#conclusion-justify {
    text-align: justify;
    list-style-type:upper-alpha;
}
